@inherits FenixAlliance.ABM.Data.Access.Services.Templating.Razor.Templates.DynamicComponentBase

@{ 
    var attribute = Model as List<FenixAlliance.ABM.Models.Logistics.Stock.ItemAttributes.ItemAttributeOption>;

}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Attribute
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in attribute)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.ItemAttribute?.Name
                </td>
                <td>
                    <a href="/Store/Attributes/Details/@item.ID">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

