@inherits FenixAlliance.ABM.Data.Access.Services.Templating.Razor.Templates.DynamicComponentBase

@{
    var attributes = (IEnumerable<FenixAlliance.ABM.Models.Logistics.Stock.ItemAttributes.ItemAttribute>)Model;
}

<style>
    .tags-box a {
        display: inline-block;
        color: white !important;
        background: #00283A !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12 information-entry">
            @foreach (var item in attributes)
            {
                <div class="information-blocks">
                    <h3 class="block-title inline-Item-column-title">@item.Name</h3>
                    <div class="tags-box">
                        @foreach (var Option in item.ItemAttributeOptions)
                        {
                            <a href="Store/AttributeOptions/Details/@Option.ID">@Option.Name</a>
                        }
                    </div>
                </div>
            }
            <div style="height: 60px;"></div>
        </div>
    </div>
</div>