@{Name = "Footer";}

<style>
    .footer-black {
        background: #232323;
        background: radial-gradient(ellipse at center, #0D0E1F 0%, #0D0E1F 100%);
    }

    footer > .footer-bottom {
        background: #06193A !important;
        color: white;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #f5f5f5;
    }

</style>

<!-- Footer -->
<footer class="footer text-center text-lg-start bg-light text-muted footer-black">
    <!-- Copyright -->
    <div class="text-center p-4 footer-bottom" style="background-color: rgba(0, 0, 0, 0.05);">
        Copyright © @System.DateTime.Now.Year @(Portal.Options.Seo.Organization.LegalName ?? "Contoso Inc.") | Powered by 
      <a class="text-reset fw-bold" href="https://absuite.net/">Alliance Business Suite</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->