@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase
@{Name = "Header";}

<style>
	@@media (max-width: 600px) {
		.material-menucontainer {
			margin-bottom: 0px;
		}
	}
</style>

<div class="material-menucontainer clearfix" style="padding-bottom:85px;">
	<div class="overlapblackbg"></div>
	<div class="material-mobileheader clearfix">
		<a id="material-navtoggle" class="animated-arrow">
			<span></span>
		</a>
		<a class="smallogo">
			<img src="@(Portal.Options.Branding.HeaderLogo.DefaltLogoURL ?? "/ui/images/WhiteGenericLogo.svg")" onerror="this.src='/ui/images/WhiteGenericLogo.svg'"
				style="max-height:45px;" alt="">
		</a>
		<a class="callusicon" href="/Account/Index">
			<span class="fa fa-user"></span>
		</a>
	</div>
	<div class="material-header">
		<div class="wrapper clearfix bigmegamenu">
			<div class="logo clearfix" style="display: inline-flex;">
				<a href="/" title="Logo">
					<img src="@(Portal.Options.Branding.HeaderLogo.DefaltLogoURL ?? "/ui/images/WhiteGenericLogo.svg")"
						style="max-height:50px;" onerror="this.src='/ui/images/WhiteGenericLogo.svg'" alt="Logo">
				</a>
			</div>
			<!--Main Menu HTML Code-->
			@Html.Raw(await ViewService.RenderAsync("MainMenu", Model))
			<!--Menu HTML Code-->
		</div>
	</div>
</div>