<script src="https://boomlabs.edu.co/public/JS/flipdown/dist/flipdown.js"></script>
<link rel="stylesheet" href="https://boomlabs.edu.co/public/JS/flipdown/dist/flipdown.css"></link>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto text-center">
                <h2 class="title" style="font-family: 'Secular One', sans-serif;">
                    @_("Esta página está en construcción.")
                </h2>
                <p class="h3 text-center">
                    @_("En Boomlabs vamos más allá de los métodos tradicionales para cultivar en nuestros aprendices las habilidades que requieren para hacer parte de la economía de servicios del siglo XXI.")
                </p>
            </div>

            <div class="col-md-6 m-auto text-center">
                <p class="h3">
                    <b>@_("Estamos migrando nuestra plataforma. Muy pronto todas las páginas estarán en vivo. Mantente conectado en nuestras redes sociales para obtener las últimas noticias y actualizaciones!")</b>
                </p>
            </div>  
            <div class="col-md-6 m-auto text-center">
                <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_y9czxcb9.json"  background="transparent"  speed="1"  style="width: 90%;"  loop autoplay ></lottie-player>
            </div>
            <div class="col-md-6 m-auto text-center">
                <div id="flipdown" class="flipdown"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var d = new Date(2021, 04, 15, 00, 00, 00, 0);
    var ts = Math.round(d / 1000);

    var flipdown = new FlipDown(ts);
    flipdown.start();

</script>