@inherits FenixAlliance.ABM.Data.Access.Services.Templating.Razor.Templates.DynamicComponentBase

<!DOCTYPE html>
<html>

<head>
    <base href="~/" />
    @await Component.InvokeAsync("MetaTags", Portal)
    @await Component.InvokeAsync("ForexRates", new { PartialViewName = "_PortalHeadPartial"})
</head>

<body>

    @await Component.InvokeAsync("ForexRates", new { CurrentUser = User })

    @if (Portal.Options.Integrations.Google.GoogleTagManager.Enable)
    {
        @* Google Tag Manager (noscript)  *@
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@Portal.Options.Integrations.Google.GoogleTagManager.Id"
                    height="0"
                    width="0"
                    style="display:none; visibility:hidden">
            </iframe>
        </noscript>
    }

    @await Component.InvokeAsync("PortalHeader", Model)

    @await Component.InvokeAsync("PortalLeftSideNavigation", Model)

    @await Component.InvokeAsync("PortalResponsiveSideNav", Model)

    @await Component.InvokeAsync("PortalResponsiveHeader", Model)

    @if (ViewBag.SmallSpaceHeader == true)
    {
        <div class="header-spacer header-spacer-small"></div>
    }
    else
    {
        <div class="header-spacer"></div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @if (ViewBag.HideAccountHeader != true)
        {
            @if (Model.SelectedBusiness != null && ViewBag.ForceTenantHeader != true || ViewBag.ForceBusinessHeader == true && ViewBag.ForceTenantHeader != true)
            {
                @await Component.InvokeAsync("BusinessAccountHeader", new { Business = Model.SelectedBusiness })
            }
            if (Model.SelectedBusiness == null && ViewBag.ForceBusinessHeader != true || ViewBag.ForceTenantHeader == true && ViewBag.ForceBusinessHeader != true)
            {
                @await Component.InvokeAsync("AccountHeader", new { Holder = Model })
            }
        }
    }

    @Body

    <!-- Scripts - Complements -->
    @await Component.InvokeAsync("ForexRates", new { PartialViewName = "_PortalScriptsPartial"})

    @await Component.InvokeAsync("ValidationScripts", new { Holder = Model })

</body>
</html>