@inherits FenixAlliance.ABM.Data.Access.Services.Templating.Razor.Templates.DynamicComponentBase

<!DOCTYPE html>

<html class="no-js" lang="en">

<head>

    <base href="/" />
    <meta charset="UTF-8">

    @await Component.InvokeAsync("MetaTags", Portal)
    
    @await ViewService.RenderAsync("Head", Model)

    <style>
        .btn-just-icon {
            color: white;
        }
    </style>

</head>
<body>

    @await Component.InvokeAsync("ForexRates", new { CurrentUser = User})
    <!--====== Main App ======-->
    <div id="app">
        @await ViewService.RenderAsync("Header", Model)
        @Body
        @await ViewService.RenderAsync("Footer", Model)
    </div>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">
                                Please enable JavaScript in your browser or upgrade to a
                                JavaScript-capable browser.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
    <!--====== End: Noscript ======-->

    @await ViewService.RenderAsync("Scripts", Model)

</body>
</html>