@inherits FenixAlliance.ABS.Core.Templating.Templates.DynamicComponentBase
<!--====== Main Footer ======-->
<footer>
    <div class="lower-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="lower-footer__content">
                        <div class="lower-footer__copyright">

                            <span>Copyright © @System.DateTime.Now.Year</span>

                            <a href="/"></a>

                            <span>All Right Reserved</span> | 
                            <span>Powered by <a href="https://absuite.net" target="blank">Alliance Business Suite</a></span>
                        </div>
                        <div class="lower-footer__payment">
                            <ul>
                                <li><i class="fab fa-cc-stripe"></i></li>
                                <li><i class="fab fa-cc-paypal"></i></li>
                                <li><i class="fab fa-cc-mastercard"></i></li>
                                <li><i class="fab fa-cc-visa"></i></li>
                                <li><i class="fab fa-cc-discover"></i></li>
                                <li><i class="fab fa-cc-amex"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--====== Modal Section ======-->