@using System.Linq
@using System

<div class="product-m__rating gl-rating-style">
    @if(Model.ItemReviews is null || Model.ItemReviews?.Count == 0){
    <span class="product-m__review">@(DataContext.ItemReview.Where(c=>c.ItemID == Model.ID).Count()) Reviews</span>
    }else{

        @{
            var avg = (Model as FenixAlliance.ABM.Models.Logistics.Stock.Item.Item).ItemReviews.ToList().Average(c=>c.ReviewScore);
            var stars = 0;
        }
        
        @for(var i = 0; i < Math.Floor(avg); i++){ 
            <i class="fas fa-star"></i>
            stars++;
        }

        @if(avg < Math.Floor(avg + 1) && avg > Math.Floor(avg - 1)){ 
            <i class="fas fa-star-half-alt"></i>
            stars++;
        }

        @for(var i = stars; i < 5 ; i++){
            <i class="far fa-star"></i>
        }

        <span class="product-m__review">@(Model?.ItemReviews?.Count)</span>
    }

</div>